.header {
  background: purple;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding-left: 20px;
}
.header .logo {
  padding: 0 10px;
}
